In [1]:
import pandas as pd

In [2]:
import re

In [3]:
from sqlalchemy import create_engine

In [4]:
import sys

In [5]:
print(sys.path)

['/usr/lib/python312.zip', '/usr/lib/python3.12', '/usr/lib/python3.12/lib-dynload', '', '/home/plynch/python_work/myenv/lib/python3.12/site-packages']

In [ ]:
!which python

In [9]:
df_yellow = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [6]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [13]:
schema_yellow = pd.DataFrame({'column_name':df_yellow.columns, 'dtype':df_yellow.dtypes.values})
schema_green = pd.DataFrame({'column_name':df.columns, 'dtype':df.dtypes.values})

In [14]:
comparison = schema_yellow.merge(schema_green,on='column_name', how='outer', suffixes=('_yellow', '_green'))

In [16]:
comparison

              column_name dtype_yellow dtype_green
0            DOLocationID        int64       int64
1            PULocationID        int64       int64
2              RatecodeID        int64       int64
3                VendorID        int64       int64
4    congestion_surcharge      float64     float64
5               ehail_fee          NaN     float64
6                   extra      float64     float64
7             fare_amount      float64     float64
8   improvement_surcharge      float64     float64
9   lpep_dropoff_datetime          NaN      object
10   lpep_pickup_datetime          NaN      object
11                mta_tax      float64     float64
12        passenger_count        int64       int64
13           payment_type        int64       int64
14     store_and_fwd_flag       object      object
15             tip_amount      float64     float64
16           tolls_amount      float64     float64
17           total_amount      float64     float64
18  tpep_dropoff_datetime       object         NaN
19   tpep_pickup_datetime       object         NaN
20          trip_distance      float64     float64
21              trip_type          NaN       int64

In [ ]:
dropoff_column = [

In [14]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	vendorid BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	ratecodeid BIGINT,
	pulocationid BIGINT,
	dolocationid BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [13]:
df.columns = df.columns.str.strip().str.lower()

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [ ]:
df.head(n=0)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))